h1{
    font-size: 50px;
  }

#c{
    display: flex;
}

#a{
    width:30%;
    float: left;
    align-items: center;
    align-content: center;
}

#b{
    width: 30%;
    float: right;
}

button{
    width: max-content;
}